<div class="example-container">
  <mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
<a [routerLink]="['/dashboard/']" mat-button> <span class="mat-h3">EnviroSyst</span> 
</a>
  <a [routerLink]="['/dashboard/enviro-manage']" mat-button>Ambiental</a>
  <a [routerLink]="['/dashboard/ledgers']" mat-button>Bitacoras</a>
  <a [routerLink]="['/dashboard/safety']" mat-button>Seguridad</a>
  <a [routerLink]="['/dashboard/energy']" mat-button>Energía</a>
  <a [routerLink]="['/dashboard/quality']" mat-button>Calidad</a>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button color="primary" mat-menu-item>Preferencias</button>
    <button mat-menu-item (click)="logOut()">Cerrar sesion</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav>
    <mat-nav-list>
      <a mat-button>Hi</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>
