<app-nav-bar></app-nav-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 >
                <p class="centered">
                    Welcome to Enviro Syst!
                </p>      
            </h1>
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <h2>
            <p class="mat-body">
                Este es el portal de acceso al sistema de administración 
                    de recursos y normativas ambientales. Por favor inicia sesión 
                    para comenzar. Si aún no tienes cuenta puedes registrarte o contactanos
                    si estas interesado en mas información.
            </p>
        </h2>
    </mat-card-content>
    <mat-card-actions>
            <button mat-flat-button color="primary">Inicia sesion</button>
            <button mat-stroked-button>SHARE</button>
          </mat-card-actions>
</mat-card>