<mat-grid-list cols="2" rowHeight="250px">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="color.gray"
      >
    <app-pie-graph ></app-pie-graph>
  </mat-grid-tile>
  
  <mat-grid-tile
    [colspan]="1"
      [rowspan]="1"
      [style.background]="color.white"
      style="overflow:scroll;">
    <app-pending-list ></app-pending-list>
  </mat-grid-tile>
  
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="1"
      [style.background]="color.blue">
      <app-actions></app-actions>
  </mat-grid-tile>
</mat-grid-list>
