<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/home/']" mat-button ><span class="mat-h2">EnviroSyst</span></a>
    <a [routerLink]="['/home/info']" mat-button color="">Informacion</a>
    <a [routerLink]="['/home/contact']" mat-button color="">Contacto</a>
    <span></span>
    <span class="example-spacer"></span>   
     <button mat-button (click)="openDialog()">Iniciar sesión</button>

    <button mat-raised-button color="accent">Registrarse</button>
    
    <mat-icon class="example-icon" aria-hidden="false">help</mat-icon>
  </mat-toolbar-row>


</mat-toolbar>

